@font-face{
  font-family:'Open Sans Light';
  src:url('../fonts/OpenSans-Light.ttf');
}
body{
  background:#2c2e43;
  font-family: 'Open Sans Light', sans-serif;
  color:white;
}

body *{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

html,body{
  height:100%;
}

a{
  color:inherit;
}
.wrapper{
  position:absolute;
  width:100%;
}
.content{
  max-width:900px;
  margin:auto;
  margin-top:2em;
}
.col{
  width:50%;
  box-sizing:border-box;
  float:left;
  text-align:justify;
}
p{
  margin:20px 20px;
}
.col p{
  margin:20px 90px;
}
.row{
  clear:both;
}
.header, .sign-off{
  text-align: center;
}
.sign-off{
  padding-top:10px;
  opacity:0.7;
}
.header{
  margin-bottom: -80px;
}

@media screen and (max-width: 890px) {
  .header{
    margin-bottom: -50px;
  }
  .col p{
    margin:20px 70px;
  }
}
@media screen and (max-width: 790px) {
  .col{
    text-align:left;
  }
}

@media screen and (max-width: 620px) {
  .col p{
    margin:20px 20px;
  }

  .header{
    margin-bottom: 20px;
  }
  .header img{
    height:200px;
  }
  .col{
    padding:0;
    width:auto;
  }
  .sign-off{
    text-align: left;
  }
}


